<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <title>Erreur</title>
<link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="{# {{ constant('Routeur::BASE_URI') }} #}assets/css/erreur.css?v=1.1">
</head>
<body>
  <main id="erreur">
  {{ include(templateMain) }}
  </main>
</body>
</html>