<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ titre }}</title>
  <link rel="stylesheet" type="text/css" href="assets/css/admin.css?v=1.1">


<script type="module" src="js/connexionDeconnexion.js"></script>

</head>

<body>
  <main>

    {{ include(templateMain) }}

  </main>
</body>
</html>