<script type="module" src="js/modaleSuppression.js"></script>
<dialog id="modaleSuppression">
  <p>Confirmez la suppression</p>
  <div class="actions">
    <button class="OK">OK</button>
    <button class="KO focus">Annuler</button>
  </div>
</dialog>