{% if actionUri %}
	<script type="module">
		let eDialog = document.getElementById('modaleConnexion');
eDialog.addEventListener('cancel', (event) => {
event.preventDefault();
});
eDialog.showModal();
	</script>
{% endif %}

<dialog id="modaleConnexion">
	<section>
		<h1>Connexion</h1>

		<form name="frmConnexion" method="POST" {% if actionUri %} action="{{ actionUri }}" {% endif %}>

			<br><span id="messageErreurConnexion">&nbsp;{{ messageErreurConnexion }}</span>

			<label>Courriel</label>
			<input name="courriel" value="">

			<label>Mot de passe</label>
			<input type="password" name="mdp" value="">

			<input type="submit" value="Envoyer">

		</form>
	</section>
</dialog>
